{% extends "HealthCentre/layout.html" %}
{% load static %}
{% block title %}
Clinical-Timeline
{% endblock %}

{% block script %}

    <script src="{% static 'HealthCentre/javascript/checkboxConfirm.js' %}"></script>
{% endblock %}

{% block bodytag %}

    {% load static %}
    <body background="{% static 'HealthCentre/images/plain.jpg' %}" style="background-size: auto auto;">

{% endblock %}

{% block body %}
<br>

<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a background color */
body {
  background-color: rgb(123, 188, 204);
  font-family: 'Montserrat', sans-serif;
}

.prescription-table {
          /* display: flex; */
          position:static;
          width: 10%;
          float: left;
          overflow-y: scroll;
          height: 500px; /* Adjust the height as needed */
          border: 1px solid #ccc;
          margin-right: 10px;

        }

.floatLeft {
            width: 50%;
            float :left;
        }

  .floatRight{
            width: 46.9%;
            float :right;
        }


.scrollable-section {
  max-height: 300px; /* Adjust the height as needed */
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ddd; /* Optional: for better visibility of the scrollable area */
}

/* Optional: Styling for the scrollbars (Webkit browsers) */
.scrollable-section::-webkit-scrollbar {
  width: 10px;
}

.scrollable-section::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.scrollable-section::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Optional: Styling for the scrollbars (Firefox) */
.scrollable-section {
  scrollbar-width: thin;
  scrollbar-color: #888 #fff;
}   
</style>

<!-- <h3 align = "center">Appointment time</h3> -->
  <h3 align = "center"> Timeline </h3>
  <h3 align = "center"> {{ patientName }} </h3>
  <li class="dropdown-divider " style="margin-left:25%;margin-right:25%;border-color:black"></li>

    <form  method="post" action="{% url 'createTimeline' %}">
        {% csrf_token %}
        <label  style="color:black">Please select a patient: </label>
        <select name="selectedPatient" id = "selectedPatient" class="form-control" placeholder="Select Patient" required>
        <option value = "">select patient</option>
            {% for patient in patients %}
                <option value="{{ patient.name }}">{{ patient.name }}</option>
            {% endfor %}
        </select>

        <!-- <label for = "patientAge" style="color:rgb(0, 0, 0);"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Age: </strong></label>
        <h6 class="form-group" style="margin-left: 0.5%;" name="patientAge" id = "patientAge">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ patientAge }}</h6>
                
        <label for = "patientSex" style="color:rgb(0, 0, 0);"><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sex: </strong></label>
        <h6 class="form-group" style="margin-left: 0.5%;" name="patientSex" id = "patientSex">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ patientSex }}</h6>
              
        <label for = "datetime" style="color:rgb(0, 0, 0);"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Date: </strong></label>
        <h6 class="form-group" style="margin-left: 0.5%;" name="datetime" id = "datetime">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ datetime }}</h6> -->
        <!-- <button class="btn btn-lg waves-effect waves-light mt-2 black-text" type="submit" name="action">Submit </button> -->
        <br>
        <button align = "center" type="submit" name="action" style="width:auto; height: 10%;"> Submit </button>
                    
        
        <br>
      {% for appointment in appointmentData %}
        <div class="prescription-table timeline floatLeft">
          
          <div class="container left ">
            <div class="content appointmentlay scrollable-section" >
                  <!-- <div class="timelineContent"> -->
                    <h6>{{ appointment.date }}</h6>
                    <h6>{{ appointment.time }}</h6>
                    <h6>{{ appointment.notes }}</h6>
                  <!-- </div> -->
              </div>
              </div>
          
      </div>
      {% endfor %}
      {% for prescription in prescriptionData %}

        <div class="prescription-table timeline floatRight">
          <div class="container right">
            <div class="content"name="patMed">
              <div class="timelineContent prescriptionlay scrollable-section">
                <!-- <h6>{{ patMed }}</h6> -->
                <h6>{{ prescription.timestamp }}</h6>
                {% for med in presmed %}
                        <p>Medicine Name: {{ med.medicinename }}</p>
                        <p>Before/After: {{ med.beforeafter }}</p>
                {% endfor %}
                <!-- <h6>{{ presmed }}</h6> -->
                <!-- <h6>{{ padMedSess }}</h6> -->

              </div>
          </div>
          </div>
        </div>
          {% endfor %} 

      </form>
      
      <!-- <div class="timeline"> -->
        <!-- <div class="container left">
          <div class="content">
            <h2>2017</h2>
            <p>Lorem ipsum..</p>
          </div>
        </div>
        <div class="container right">
          <div class="content">
            <h2>2016</h2>
            <p>Lorem ipsum..</p>
          </div>
        </div>
      </div> -->
      
      
  
      

      <!-- <script>
        {% comment %} $('#selectedPatient').change(function() {
            var PatientSelected = $(this).val();
            console.log("check", PatientSelected);
            // var encodedName = encodeURIComponent(PatientSelected);
            $.ajax({
              method: 'GET',
              url : '{% url "createTimeline" %}',
              data : {'SelectedPat' : PatientSelected},
              dataType : 'json',
              success : function(data) {
                $('#patientSex').html(data.patientSex);
                $('#patientAge').html(data.patientAge);
                // $('#appointmentData').html(data.appointmentData);
                // $('#afternoon').html(data.medAft);
                // $('#night').html(data.medNight);
                //$('#medicine-data').html(
                  //    'BeforeAfter: ' +  data.MedBefAft +
                    //  '<br> Morning: ' + data.MedMorn +
                      //'<br> Afternoon: ' + data.medAft +
                      //'<br> Night: ' + data.medNight
                  
              },
              error : function(xhr, status, error) {
                console.error(xhr.responseText)
              }
              
            });
          }); {% endcomment %}

        </script> -->

      {% endblock %}

